@import "./mixins.scss";

#contact-section {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1)), url("/assets/contact-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: space-between;

    @include w320 {
        font-size: 1em;
    }

    @include w530 {
        font-size: 1.2em;
    }

    @include w530H {
        font-size: 1em;
    }

    @include w1024 {
        padding-top: 3em;
    }

    #logo-section {
        width: 100%;
        margin: 0;
        flex-grow: 4;
        padding-top: 10em;
        display: flex;
        justify-content: center;

        @include w320 {
            padding-top: 3.5em;
            height: 40%;
            flex-grow: 0;
        }

        @include w530H {
            padding-top: 6em;
        }

        @include w1024 {
            padding-top: 6em;
        }

        @include w1630 {
            padding-top: 8em;
        }

        @include w1920 {
            padding-top: 14em;
        }

        #contact-logo-container {
            width: 10%;
            height: auto;
            display: flex;
            align-items: flex-end;

            @include w320 {
                align-items: flex-start;
                width: 8em;
            }

            @include w530H {
                width: 7em;
            }

            @include w768H {
                width: 7em;
            }

            @include w1024 {
                width: 10em;
            }

            @include w1630 {
                width: 12em;
            }

            @include w1920 {
                width: 16em;
                padding-bottom: 4em;
            }

            #contact-logo {
                width: 100%;
                height: auto;
            }
        }
    }

    #contact-informations-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        color: white;

        @include w320 {
            font-size: 0.7em;
            flex-direction: column;
            align-items: center;
            padding-bottom: 3em;
        }

        @include w530H {
            font-size: 0.7em;
            flex-direction: row;
            align-items: flex-start;
            padding-bottom: 5em;
        }

        @include w768H {
            font-size: 0.7em;
            padding-bottom: 6em;
        }

        @include w768 {
            padding-bottom: 6em;
        }

        @include w1024 {
            flex-direction: row;
            font-size: 0.9em;
        }

        @include w1630 {
            font-size: 1em;
        }

        @include w1920 {
            padding-bottom: 10em;
        }

        .contact-element-container {
            padding: 2em;
            width: 20em;
            text-align: center;

            @include w320 {
                padding: 0.8em;
            }

            h1 {
                font-size: 1.7em;
                color: #a72e2e;
            }

            .social-media-wrapper {
                display: flex;
                justify-content: center;

                .social-media-logo {
                    width: 25%;
                    height: auto;
                    padding: 0.5em;

                    animation: onLeaveHover 0.3s ease;
                    @keyframes onLeaveHover {
                        from {
                            transform: scale(0.95);
                        }
                        to {
                            transform: scale(1);
                        }
                    }
                }

                .social-media-logo:hover {
                    cursor: pointer;
                    animation: onSocialLogoHover;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;

                    @keyframes onSocialLogoHover {
                        0% {
                            transform: scale(1);
                        }
                        100% {
                            transform: scale(0.95);
                        }
                    }
                }
            }
        }
    }
}
