#contact-section {
    display: flex;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 1)), url("/assets/contact-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: flex-start;

    #logo-section {
        width: 100%;
        margin: 0;
        flex-grow: 4;
        padding-top: 10em;

        #contact-logo-container {
            width: 10%;
            height: 100%;
            display: flex;
            align-items: flex-end;

            #contact-logo {
                width: 100%;
                height: auto;
            }
        }
    }

    #contact-informations-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        color: white;
        flex-grow: 1;
        padding-top: 5em;

        .contact-element-container {
            padding: 2em;
            width: 20em;
            text-align: center;

            h1 {
                font-size: 1.7em;
                color: #a72e2e;
            }

            .social-media-wrapper {
                display: flex;
                justify-content: center;

                .social-media-logo {
                    width: 25%;
                    height: auto;
                    padding: 0.5em;

                    animation: onLeaveHover 0.3s ease;
                    @keyframes onLeaveHover {
                        from {
                            transform: scale(0.95);
                        }
                        to {
                            transform: scale(1);
                        }
                    }
                }

                .social-media-logo:hover {
                    cursor: pointer;
                    animation: onSocialLogoHover;
                    animation-duration: 0.5s;
                    animation-fill-mode: forwards;

                    @keyframes onSocialLogoHover {
                        0% {
                            transform: scale(1);
                        }
                        100% {
                            transform: scale(0.95);
                        }
                    }
                }
            }
        }
    }
}
