@import "./mixins.scss";

$content-padding: 3em;

#delivery-section {
    position: relative;
    height: 100vh;

    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)), url("/assets/delivery-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    @include w320 {
        flex-direction: column;
    }

    @include w1024 {
        flex-direction: row;
    }

    #delivery-content {
        display: flex;
        justify-content: flex;
        align-items: center;
        width: 50%;
        padding: $content-padding;
        position: relative;
        flex-direction: column;

        @include w320 {
            width: 100%;
            padding-bottom: 0;
        }

        @include w1024 {
            width: 50%;
        }

        @include w1630 {
            width: 100%;
        }

        h1 {
            font-size: 5em;
            font-family: "Courgette";
            text-align: center;

            @include w320 {
                font-size: 4em;
            }
        }

        > p {
            z-index: 1;
            font-size: 1.6em;
            text-align: justify;
            padding-top: 1em;

            @include w320 {
                font-size: 1.5em;
            }
        }

        #delivery-section-image {
            width: 100%;
            height: auto;
            margin-top: -6em;
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            margin-left: -2 * $content-padding;
            opacity: 0.9;

            @include w320 {
                display: none;
            }

            @include w1630 {
                display: block;
            }
        }

        #delivery-pricing-button {
            z-index: 2;

            @include w320 {
                margin-top: 1em;
                font-size: 1.2em;
                padding: 1.5em 5em 1.5em 5em;
            }

            @include w1630 {
                margin-top: -9em;
            }
        }
    }
}

.animationWrapper {
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;

    @include w320 {
        width: 100%;
    }
}
