@import "./mixins.scss";

.main-section {
    position: relative;
    height: 100vh;
    max-width: 100vw; //sus

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include w320 {
        font-size: 0.7em;
    }

    @include w530 {
        font-size: 0.8em;
    }

    @include w530H {
        font-size: 0.6em;
    }

    @include w1024 {
        font-size: 0.9em;
    }
}

#welcome-title-background {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/home-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-title-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    z-index: 3;
    animation: ownFade ease 1.3s;

    @keyframes ownFade {
        0% {
            margin-left: -1.5em;
            opacity: 0%;
        }
        80% {
            opacity: 70%;
        }
        100% {
            margin-left: 0px;
            opacity: 100%;
        }
    }

    .h1-title {
        color: #dddddd;
        font-size: 5em;
        //font-family: "Courgette";
        font-family: "Kaushan Script", cursive;
        text-align: center;

        @include w320 {
            font-size: 4em;
        }

        @include w1630 {
            font-size: 5em;
        }
    }

    .description {
        color: #ffffff;
        font-size: 2em;
        width: 70vw;
        text-align: justify;

        @include w320 {
            font-size: 2em;
        }

        @include w1630 {
            font-size: 2.5em;
        }
    }
}

.arrow-scroll-wrapper {
    position: absolute;
    bottom: 2em;
}

.arrow-container {
    width: 4em;
    height: 4em;
    z-index: 4;
    bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    //padding-top: 5em;
}

.arrow-container:hover {
    cursor: pointer;
}

.arrow-down {
    width: 3em;
    height: 3em;
    background-color: white;
    z-index: 3;
    clip-path: polygon(49% 85%, 84% 61%, 100% 61%, 49% 100%, 1% 59%, 18% 59%);

    animation: bounce;
    animation-duration: 2s;
}

.content-img {
    align-self: flex-end;
    position: absolute;
}
